@inherits AppSocialComponent

@if (UserModel is not null)
{
    <div class="contact-card">
        <div class="contact-card-item avatar">
            <img class="contact-card-item profile-pic" src="@UserModel.GetUserProfilePic()" />
            <p class="contact-card-item">
                <span class="username">@UserModel.Username</span>
                <span class="pronouns">@PronounsSeparator@UserModel.Pronouns</span>
            </p>
        </div>
        <p class="contact-card-item profile-message">@(UserModel.ProfileMessage ?? "...")</p>
        <button class="small btn btn-primary follow-button" @onclick="FollowUser">@FollowLabel</button>
    </div>
}
else
{
    <div class="contact-card"><p>null</p></div>
}
