@inherits AppSocialComponent

<Loading LoadingEnabled="IsLoading"/>
<EditForm class="post" Model="@CreationModel" OnValidSubmit="@ValidSubmit">
    <InputTextArea 
        class="inputtextarea"
        resize="none"
        placeholder="@PlaceholderText"
        DisplayName="Contenido" 
        @bind-Value="CreationModel.Content" />
    <button class="submit" type="submit">Publicar</button>
</EditForm>