@inherits AppSocialComponent

<EditForm class="post" Model="@CreationModel" OnValidSubmit="@ValidSubmit">
    <InputText 
        placeholder="@PlaceholderText"
        DisplayName="Contenido" 
        @bind-Value="CreationModel.Content" />
    <button type="submit">Publicar</button>
</EditForm>