@inherits AppSocialComponent

<div className='bar'>
    <div className='shortcuts'>
        <img src='../src/img/icons/usuarios-alt.png' className='icon'/>
        <img src="../src/img/icons/hogar.png" className="icon" onClick={onClickFeed}/>
    </div>
    
    <InputText size="medium" placeholder="Inserte su busqueda" class="searchInput" @bind-Value="SearchQuery" @oninput="HandleInput"/>
</div>

@if (ResultsVisible)
{
    <button class="btn btn-warning" @onclick="() => ResultsVisible = false">Cerrar</button>
    <div>
        <UserList UserViews="UserResults" />
    </div>
}