@inject AppState State
@inject NavigationManager Nav
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Search" Match="NavLinkMatch.All">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Buscar
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Página Principal
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/MyAccount">
                    <span class="oi oi-person" aria-hidden="true"></span> Mi Cuenta
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Salir
                </NavLink>
            </div>
        </div>

        <article class="sesion content px-4 ">
            <div class="sesionContainer">
                @Body
            </div>
        </article>
    </main>
</div>
