@using Microsoft.AspNetCore.Identity
@inject SignInManager<VehicleUser> SignInManager
@inject UserManager<VehicleUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Identity/Manage/Index" title="Manejar Cuenta">Bienvenide, <b>@User.Identity?.Name</b></a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Identity/LogOut" method="get">
            <button  type="submit" class="nav-link btn btn-link text-dark">Salir</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Identity/Register">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Identity/LogIn">Ingresar</a>
    </li>
}
</ul>
