@page "/"
@inject SocialApiClient Client
@inject ILogger<Index> Log
@inject AppState State
@inject NavigationManager Nav

<PageTitle>Página Principal</PageTitle>

<div class="screenBox">

    @if (Errors.Count > 0)
    {
        <div class="error-box">
            @foreach (var e in Errors.Errors)
            {
                <span class="error-message">@e.DefaultMessageES</span>
            }
        </div>
    }
    else
    {
        <NewPost PostList="Posts" />
        @if (Posts is not null)
        {
            @foreach (var p in Posts)
            {
                <Post PostData="p" PostList="Posts" />
            }
        }
    }
</div>
