@page "/login"
@inject SocialApiClient Client
@inject ILogger<Login> Log
@inject AppState State
@inject NavigationManager Nav

<PageTitle>Login</PageTitle>

<div class="loginFormContainer">
    <EditForm Model="@LoginModel" OnValidSubmit="@ValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label for="email">Correo Electrónico o Nombre de Usuario</label>
        <InputText 
            DisplayName="Correo Electrónico o Nombre de Usuario" 
            @bind-Value="LoginModel.UserNameOrEmail" 
            id="email" 
        />
        <ValidationMessage For="() => LoginModel.UserNameOrEmail" />

        <label for="password">Contraseña</label>
        <InputText
            DisplayName="Contraseña" 
            @bind-Value="LoginModel.Password" 
            type="password"
            id="password" 
        />
        <ValidationMessage For="() => LoginModel.Password" />

        <button type="submit">Iniciar sesion</button>

    </EditForm>
    <a href="/Register">Registrarse</a>
</div>



