@page "/MyAccount"
@inject SocialApiClient Client
@inject ILogger<Index> Log
@inject AppState State
@inject NavigationManager Nav

<PageTitle>Mi Página</PageTitle>

@if(SelfModel is null)
{
    <p>null</p>
}
else
{    
    @if (Errors.Count > 0)
    {
        <div class="error-box">
            @foreach (var e in Errors.Errors)
            {
                <span class="error-message">@e.DefaultMessageES</span>
            }
        </div>
    }

    <Loading LoadingEnabled="IsLoading" />
    <div class="changeProfileContainer">
        <div class='ChangePhoto'>
            <img class='profilePic' for='ChangePic' src=@SelfModel.GetUserProfilePic()/>
            <InputText class="InputText" id='ChangePic' @bind-Value="UpdateModel.ProfilePictureUrl" type='url' placeholder='Pon aqui el link de tu foto de perfil'></InputText>
        </div>

        <EditForm class="form" Model="@UpdateModel" OnValidSubmit="@ValidSubmit">
            <label for='realName'>Nombre Real</label>
            <InputText class="InputText" id='realName' @bind-Value="UpdateModel.RealName" placeholder=@SelfModel.RealName></InputText>

            <label for='UserName'>Nombre de usuario</label>
            <InputText class="InputText" id='UserName' @bind-Value="UpdateModel.Username" placeholder=@SelfModel.Username></InputText>

            <label for='Pronouns'>Pronombres</label>
            <InputText class="InputText" id='Pronouns' @bind-Value="UpdateModel.Pronouns" placeholder=@SelfModel.Pronouns></InputText>

            <label for='Message'>Mensaje de Perfil</label>
            <InputText class="InputText" id='Message' @bind-Value="UpdateModel.ProfileMessage" placeholder=@SelfModel.ProfileMessage></InputText>

            <div class='checkGroup'>
                <InputCheckbox class="checkBox" @bind-Value="AllowRealNamePublicly" />
                <label for='check1'>Hacer publico mi nombre real</label>
            </div>

            <div class='checkGroup'>
                <InputCheckbox class="checkBox" @bind-Value="AllowNonFollowerPostViews" />
                <label for='check2'>Permitir que personas que no me siguen vea mis publicaciones</label>
            </div>

            <div class='checkGroup'>
                <InputCheckbox class="checkBox" @bind-Value="AllowAnonymousPostViews" />
                <label for='check3'>Permitir que cualquier persona vea mis publicaciones</label>
            </div>

            <div class='checkGroup'>
                <InputCheckbox class="checkBox"  @bind-Value="AllowNonFollowerViews" />
                <label for='check4'>Permitir que personas que no me siguen vea mi informacion</label>
            </div>

            <div class='checkGroup'>
                <InputCheckbox class="checkBox"  @bind-Value="AllowAnonymousViews" />
                <label for='check5'>Permitir que cualquier persona vea mi informacion</label>
            </div>

            <button class="boton" type='submit'>Guardar</button>
        </EditForm>
    </div>
}
