@page "/Search"
@inherits AppSocialComponent

<PageTitle>Página Principal</PageTitle>
<Loading LoadingEnabled="IsLoading" />

<div class="screenBox">
    @if (Errors.Count > 0)
    {
        <div class="error-box">
            @foreach (var e in Errors.Errors)
            {
                <span class="error-message">@e.DefaultMessageES</span>
            }
        </div>
    }
    else
    {
        <div className='bar'>
            <InputText size="medium" placeholder="Inserte su busqueda" class="searchInput" @bind-Value="SearchQuery" @oninput="HandleInput" />
        </div>

        <Loading LoadingEnabled="IsLoading"/>
        @if (ResultsVisible)
        { 
            <div>
                <UserList UserViews="UserResults" />
            </div>
        }
    }
</div>
