@page "/User"
@inherits AppSocialComponent

<PageTitle>Users</PageTitle>

<div class="header">
    <img class='profilePic' src="@UserModel.GetUserProfilePic()"/>
    <div class="usuario">
        <div class="info-usuario">
            <span class="User">@UserModel!.Username</span>
            <span class="Pronombres">@UserModel.Pronouns</span>
        </div>
        <span class="descripcion-usuario">@UserModel.ProfileMessage</span>
        <button class="boton">Seguir</button>
    </div>
</div>
<div class="publicaciones">
    @foreach(var post in Posts)
    {
        <Post PostData="post" PostList="Posts"/>
    }
</div>

