@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrió un error al procesar su petición.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de petición:</strong> <code>@Model.RequestId</code>
    </p>
}

