@page
@model Urbe.Programacion.AppVehiculos.WebApp.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacidad";
}
<div class="text-center">
    <h1 class="display-4">Noticia de Privacidad</h1>
    <h2>¿Qué hacemos con sus datos?</h2>
    <br />
    <p class="privacy-notice">
        @PrivacyModel.PrivacyNotice
    </p>
</div>
